body{
   color: #51e2f5
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;  
}

text.mono {
    font-size: 10pt;
    font-family: Consolas, courier;
    fill: #000;
}

h2{
    color: #000;
}

h3{
    text-align: center;
    margin: 0px;
    color: #000;
}

.col {
    width: 420px;
    height: 300px;
    float: left;
}

.col_full {
    height: 150px;
    float: left;
}

.row {
    display: grid;
    grid-auto-flow: column;
}

div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: .4rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 0.8rem;
}

select {
    margin: 5px;
    width: 200px;
    padding: 5px 10px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(./favicon.ico) 96% / 15% no-repeat #EEE;
}

select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

#date_title {
  color: black;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
  
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
  
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* body {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  background-color: #313639;
}

#rgb-luminance {
  width: "420px";
  height: "275px";
}

text { fill: white; }
line,
path { 
  fill: transparent;
  stroke-width: 2;
  stroke: white;
} */

/* text.title { font-size: 18px; }
.title tspan { font-size: 14px; } */


/* .bar rect {
  stroke-width: 1;
  opacity: .5;
} */ 

/* .axis line,
.domain {
  stroke-width: 2;
  stroke: gray;
}
.label { text-anchor: middle; }

ul {
  list-style: none;
  position: absolute;
  top: 80px;
  left: 100px;
} */ 

/* button {
  width: 53px;
  height: 24px;
  margin-bottom: 4px;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  text-transform: uppercase
}
button.rgb {
  background-color: #595959;
  border-color: #7a7a7a;
}
button.rgb:hover { background-color: #7a7a7a; }
button.red {
  background-color: #a92222;
  border-color: #cb4444;
}
button.red:hover { background-color: #cb4444; }
button.green {
  background-color: #0b710b;
  border-color: #2d932d;
}
button.green:hover { background-color: #2d932d; }
button.blue {
  background-color: #191992;
  border-color: #3a3aa4;
}
button.blue:hover { background-color: #3a3aa4; } */