distribution_buf_pointer*.xml
distribution_buffer*.xml
graph_buffer*.xml
groundtruth_buffer*.xml
distribution_buf_size*.xml
CMakeLists.txt.user

images*
qt-build
build*
videoDisp.avi
videoRawL.avi
videoRawLR.avi
settings*.dat
false_positives.csv